
body{
    font-family: Courier New, "Times New Roman";
    font-size: 19.5px;
}

#intro img{
    float: left;
}

#song{
    width: 900px;
    font-family: "Times New Roman";
}

#img ol{
    border: black 1px solid;
    width: 200px;
    height: 320px;
    margin: -327.5px 0px 0px 570px;
}

a:hover{
    background: bisque;
    color: crimson;
}

#img img{
    border: black 1px solid;
}

#img video{
    border: black 1px solid;
}

